body {
  margin: 0;
  background-image: url('./background-img.jpg');
  height: 100vh;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

.welcome-box, .question-one-container {
  width: 800px;
  height: 500px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 5px solid white;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
}

.welcome-box h1 {
  font-size: 70px;
  color: white;
}

.welcome-box h2 {
  background: rgba(255, 234, 206, 0.7);
  width: 400px;
  margin: auto;
  padding: 20px;
  font-size: 17px;
}

.start-button {
  font-family: 'Raleway', sans-serif;
  background-color: #C6B298;
  border: none;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding: 20px;
  border-radius: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #907D65;
}

.question-one-container, .question-two-container {
  font-size: 45px;
  color: white;
  font-weight: bold;
}

.question-one-form {
  margin-top: 80px;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  margin: auto;
  background: rgba(255, 234, 206, 0.7);
  color: black;
  font-weight: normal;
  font-size: 30px;
}

.question-one-label {
  margin-left: 25px;
}

/* Custom Radio buttons styling */
.radio-button-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 10px;
  user-select: none;
}

.radio-button-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} 

.custom-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: white;
  border: 2px solid #907D65;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 7px;
}

.radio-button-container:focus input ~ .custom-radio,
.radio-button-container:hover input ~ .custom-radio {
  background-color: #C6B298;
}

.radio-button-container input:checked ~ .custom-radio {
  background-color: #907D65;
}

.custom-radio:after {
  content:"";
  position: absolute;
  top: 6px;
  left: 6px; 
  width: 9px;
  height: 9px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: none;
}

.radio-button-container input:checked ~ .custom-radio:after {
  display: block;
}

.question-two-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second-button {
  width: 100px;
  margin: 30px auto;
}

.question-two-container label {
  margin-top: 40px;
}

.question-two-container p {
  margin-top: 10px;
}

.question-two-container input {
  font-size: 40px;
}

.question-three-container {
  font-size: 45px;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.question-three-container select {
  width: 400px;
  margin: 30px auto;
  font-size: 30px;
}

.question-three-container label {
  margin-top: 120px;
}

.third-button {
  width: 100px;
  margin: 10px auto;
}

.question-four-container {
  font-size: 32px;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.snacks-text {
  width: 600px;
  margin: 30px auto;
}

.checkboxes-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 170px;
  background: rgba(255, 234, 206, 0.7);
  width: 400px;
}

.checkboxes-container label {
  color: black;
  font-weight: normal;
  font-size: 20px;
  margin-left: 30px;
}

.fourth-button {
  margin: 20px auto;
  width: 300px;
}

/* Custom Checkboxes styling */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 10px 5px;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color:white;
  border: 2px solid #907D65;
  cursor: pointer;
}

.checkbox-container:focus input ~ .custom-checkbox,
.checkbox-container:hover input ~ .custom-checkbox {
  background-color: #C6B298;
}

.checkbox-container input:checked ~ .custom-checkbox {
  background-color: #907D65;
}

.custom-checkbox:after {
  content:"";
  position: absolute;
  width: 3px;
  height: 6px;
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  top: 4px;
  left: 6px;
  transform: rotate(45deg);
  display: none;
}

.checkbox-container input:checked ~ .custom-checkbox:after {
  display: block;
}

.final-text p {
  font-size: 30px;
  font-weight: bold;
  width: 600px;
  margin: 60px auto;
  padding: 30px;
  background: rgba(255, 234, 206, 0.7);
}

.final-button {
  margin-top: 10px;
}

/*Media Queries*/
/*TABLET*/
@media (min-width: 667px) and (max-width: 1024px) {
  .welcome-box {
    width: 700px;
  }
}